<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url('/static/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 1;
    }
</style>


<meta name="theme-color" content="hsl(60, 100%, 83%)">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
	function getSermonInfo(){
        try{
            swal({
                title:"Please wait",
                text:"Loading...",
                icon: "/static/loading.gif",
                buttons: false,
                closeOnClickOutside: false,
                timer: 120000,
            });
            sermon_title = document.getElementById("sermon_title").value;
            closing_song = document.getElementById("closing_song").value;
            var sr_info = [];
            var sr_version = [];
            for(var i = 0 ; i < total_sr_num ; i++){
                book = document.getElementById(`sr_book_${i + 1}`).value;
                chapter = document.getElementById(`sr_chapter_${i + 1}`).value;
                start_verse = document.getElementById(`sr_start_verse_${i + 1}`).value;
                end_verse = document.getElementById(`sr_end_verse_${i + 1}`).value;
                version = document.getElementById(`sr_version_${i + 1}`).value;
                sr_version.push(version);
                sr_info.push(book + ' ' + chapter + ':' + start_verse + '-' + end_verse);
            }


            var sis_info = [];
            var sis_version = [];
            for(var i = 0 ; i < total_sis_num ; i++){
                book = document.getElementById(`sis_book_${i + 1}`).value;
                chapter = document.getElementById(`sis_chapter_${i + 1}`).value;
                start_verse = document.getElementById(`sis_start_verse_${i + 1}`).value;
                end_verse = document.getElementById(`sis_end_verse_${i + 1}`).value;
                version = document.getElementById(`sis_version_${i + 1}`).value;

                sis_version.push(version);
                sis_info.push(book + ' ' + chapter + ':' + start_verse + '-' + end_verse);
            }

            var annocement = [];
            $('.annoncement_check:checked').each(function () {
                annocement.push($(this)[0].defaultValue)
            });

            var receivers = [];
            $('.receiver_email:checked').each(function () {
                receivers.push($(this)[0].defaultValue)
            });

            var aj = $.ajax({
                url : '/getPdfFile',
                data :
                {
                    sr_info : JSON.stringify({'sr_info' : sr_info}),
                    sr_version : JSON.stringify({'sr_version' : sr_version}),
                    sis_info : JSON.stringify({'sis_info' : sis_info}),
                    sis_version : JSON.stringify({'sis_version' : sis_version}),
                    annocement : JSON.stringify({'annocement':annocement}),
                    receivers : JSON.stringify({'receivers':receivers}),
                    sermon_title : sermon_title,
                    closing_song : closing_song
                },
                type : 'post',
                success : function (result) {
                    console.log(result)
                    if(result == 'Error'){
                        swal("Error", '', "error")
                    }
                    else{
                        swal("Finish", 'Please check your email!', "success").then(() =>
                        {
                            location.reload();
                        })
                    }
                }
             })
        }
        catch(e){
           swal("Error", e.message, "error").then(() =>
           {
                location.reload();
           })
        }
  }
    function selectAll(obj,cName){
        var ele = document.getElementsByClassName('annoncement_check');
        for(var i=0; i < ele.length; i++){
            if(ele[i].type=='checkbox'){
                if(ele[i].checked == false){
                    ele[i].checked = true;
                }
                else if(ele[i].checked == true){
                    ele[i].checked = false;
                }
            }
        }
    }


</script>
<body>
<a type="button" class="btn btn-info" href="edit_announcement.html" style="float: left">Edit Announcement</a>
<a type="button" class="btn btn-info" href="worship_songs.html" style="float: left; margin-left: 5%">Worship Songs</a><br><br>
<center><h1>Church PowerPoint</h1></center>
<div style="width:800px; height:auto; float:left; display:inline;margin-left:200px">
    <h4>Scripture Reading : </h4>
    <div id='sr_block'>
        Amount : <input id="num_sr" required="required" type="number" min="0">
        <button onclick="get_sr_boxes()" class="btn btn-primary">submit</button>
    </div>
    <div id="scripture_reading"></div><br>

    <h4>Scripture In Sermon : </h4>
    <div id='sis_block'>
        Amount : <input id="num_sis" required="required" type="number" min="0">
        <button id='num_sis_btn' onclick="get_sis_boxes()" class="btn btn-primary">submit</button>
    </div>
    <div id="scripture_in_sermon"></div><br>


    <h4>Announcement : </h4>
{#    <input type="checkbox" value="Calvary Men’s Fellowship" class="annoncement_check"/>Calvary Men’s Fellowship<br>#}
{#    <input type="checkbox" value="Calvary Ladies Fellowship" class="annoncement_check"/>Calvary Ladies Fellowship<br>#}
{#    <input type="checkbox" value="Calvary Sisters’ Fellowship" class="annoncement_check"/>Calvary Sisters’#}
{#    Fellowship<br>#}
{#    <input type="checkbox" value="Calvary Youth Fellowship" class="annoncement_check"/>Calvary Youth Fellowship<br>#}
{#    <input type="checkbox" value="Filipino Bible Study and Fellowship" class="annoncement_check"/>Filipino Bible Study#}
{#    and Fellowship<br>#}
{#    <input type="checkbox" value="Calvary Marriage Fellowship" class="annoncement_check"/>Calvary Marriage#}
{#    Fellowship<br>#}
{#    <input type="checkbox" value="Calvary Choir" class="annoncement_check"/>Calvary Choir<br>#}
{#    <input type="checkbox" value="Calvary Children’s Sunday School" class="annoncement_check"/>Calvary Children’s Sunday#}
{#    School<br>#}
{#    <input type="checkbox" value="Calvary Multilingual Prayer Meeting" class="annoncement_check"/>Calvary Multilingual#}
{#    Prayer Meeting<br>#}
{#    <input type="checkbox" value="Calvary Sunday Chinese Bible Study" class="annoncement_check"/>Calvary Sunday Chinese#}
{#    Bible Study<br>#}
{#    <input type="checkbox" value="Calvary Sunday Morning English Bible Study" class="annoncement_check"/>Calvary Sunday#}
{#    Morning English Bible Study<br>#}
{#    <input type="checkbox" value="Calvary Wednesday Night Bible Study" class="annoncement_check"/>Calvary Wednesday#}
{#    Night Bible Study<br>#}
{#    <input type="checkbox" value="Calvary Worship Special Music" class="annoncement_check"/>Calvary Worship Special#}
{#    Music<br>#}
{#    <input type="checkbox" value="Calvary Church Library" class="annoncement_check"/>Calvary Church Library<br>#}
{#    <input type="checkbox" value="Calvary Nursery" class="annoncement_check"/>Calvary Nursery<br>#}
{#    <input type="checkbox" value="Calvary PowerPoint Audiovisual Ministry" class="annoncement_check"/>Calvary PowerPoint#}
{#    Audiovisual Ministry<br>#}
{#    <input type="checkbox" value="Calvary Ushers and Greeters Group" class="annoncement_check"/>Calvary Ushers and#}
{#    Greeters Group<br>#}
{#    <input type="checkbox" value="Questions about How to Give and Church Finances" class="annoncement_check"/>Questions#}
{#    about How to Give and Church Finances<br>#}
{#    <input type="checkbox" value="Thursday Night Bible Study with Stephen Cha Fellowship Hall"#}
{#           class="annoncement_check"/>Thursday Night Bible Study with Stephen Cha Fellowship Hall<br>#}
{#    <input type="checkbox" value="Calary Tithe Offering" class="annoncement_check"/>Calary Tithe Offering<br>#}
    <div id="announcements"></div>
    <button onclick="selectAll()" class="btn btn-primary">Select All</button><br>
</div><br>

<div style="width:300px; height:auto; float:left; display:inline">
    <h4>Sermon Title : </h4>
    <textarea class="form-control" id="sermon_title" rows="10" cols="35"
              required="required"></textarea>


    <h4>Closing Song : </h4>
    <select id="closing_song">
        <option value="Great is Thy Faithfulness - 祢信實何廣大 Pinyin">Great is Thy Faithfulness - 祢信實何廣大</option>
        <option value="He LIves - 主活著pinyin">He LIves - 主活著pinyin</option>
        <option value="His Name Is Wonderful - 祂名稱為奇妙 Pinyin">His Name Is Wonderful - 祂名稱為奇妙</option>
        <option value="I Surrender All - 奉獻所有">I Surrender All - 奉獻所有</option>
        <option value="In His Time - 在主裡的時刻">In His Time - 在主裡的時刻</option>
        <option value="Jesus Paid It All - 主替我捨身">Jesus Paid It All - 主替我捨身</option>
        <option value="The Old Rugged Cross - 古舊十架">The Old Rugged Cross - 古舊十架</option>
        <option value="Amazing Grace - 奇異恩典">Amazing Grace - 奇異恩典</option>
        <option value="Just As I AM - 照我本相">Just As I AM - 照我本相</option>
        <option value="I Love You Lord 主我愛你">I Love You Lord 主我愛你</option>
        <option value="My Peace - 我的平安">My Peace - 我的平安</option>
        <option value="其他">others - 其他</option>
    </select><br><br>

    <h4>Receivers : </h4>
    <input type="checkbox" value="brianpjl@gmail.com" class="receiver_email"/>Brian<br>
    <input type="checkbox" value="thedifference0507@gmail.com" class="receiver_email"/>Daniel<br>
    <input type="checkbox" value="sue71615@hotmail.com" class="receiver_email"/>Jason<br>
    <input type="checkbox" value="kayeleetonacao@gmail.com" class="receiver_email"/>kaye<br>
    <input type="checkbox" value="o11260125s@gmail.com" class="receiver_email"/>Kay<br>
    <input type="checkbox" value="jennding@gmail.com" class="receiver_email"/>Jenn<br>
    <input type="checkbox" value="Dbsutton32@gmail.com" class="receiver_email"/>Dave<br>
    <input type="checkbox" value="pohjohn0928@gmail.com" class="receiver_email"/>John<br>
    <input type="checkbox" value="pohjohn0928@yahoo.com" class="receiver_email"/>John2<br><br>
    <button type="submit" class="btn btn-success" onclick="getSermonInfo();" style="font-size: 24px; border-radius: 12px;" >Done</button>

</div>

</body>
</html>

<script>
    counter_sr = 0;
    counter_sis = 0;
    var bible_info;
    total_sr_num = 0;
    total_sis_num = 0;
    var aj = $.ajax({
        url : '' +
            '/bible_info',
        type : 'post',
        data : {},
        success : function (result) {
            bible_info = result
        }
    })

    var aj = $.ajax({
        url : '' +
            '/announcement_info',
        type : 'get',
        data : {},
        success : function (result) {
            content = "";
            result.announcements.forEach(function(announcement){
                announcement = announcement.replaceAll(".png","");
                content += `<input type="checkbox" value="${announcement}" class="annoncement_check"/>${announcement}<br>`;
            });
            document.getElementById("announcements").innerHTML = content;
        }
    })


    function get_sr_boxes(){
        num_sr = document.getElementById('num_sr').value;
        if(num_sr <= 0){
            location.reload();
        }
        document.getElementById('sr_block').style.visibility = 'hidden';
        for(var i = 0 ; i < num_sr ; i++){
            add_sr_block();
        }
        total_sr_num = num_sr;
    }

    function get_sis_boxes(){
        num_sis = document.getElementById('num_sis').value;
        if(num_sis <= 0){
            location.reload();
        }
        document.getElementById('sis_block').style.visibility = 'hidden';
        for(var i = 0 ; i < num_sis ; i++){
            add_sis_block();
        }
        total_sis_num = num_sis;
    }

    function add_sr_block(){
        counter_sr += 1;
        content = `Book : <select id = 'sr_book_${counter_sr}' onchange = sr_bookChange('${counter_sr}')>`
        for(key in bible_info){
            content += `<option value = ${key}>`
            content += key
            content += '</option>'
        }
        content += '</select>'
        document.getElementById('scripture_reading').innerHTML += content;

        content = ` Chapter : <select id = 'sr_chapter_${counter_sr}' onchange = sr_chapterChange('${counter_sr}')>`
        book = document.getElementById(`sr_book_${counter_sr}`).value
        chapter_len = bible_info[book][0];
        for(var i = 0 ; i < chapter_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        content += '</select>'
        document.getElementById('scripture_reading').innerHTML += content;

        content = ` Start Verse : <select id = 'sr_start_verse_${counter_sr}' onchange = sr_start_verseChange('${counter_sr}')>`
        chapter = document.getElementById(`sr_chapter_${counter_sr}`).value
        verse_len = bible_info[book][chapter];
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        content += '</select>';
        document.getElementById('scripture_reading').innerHTML += content;

        content = ` End Verse : <select id = 'sr_end_verse_${counter_sr}')>`
        start_verse = document.getElementById(`sr_start_verse_${counter_sr}`).value
        verse_len = bible_info[book][chapter];
        for(var i = start_verse ; i <= verse_len ; i++){
            content += `<option value = ${i}>`
            content += i
            content += '</option>'
        }
        content += '</select>';
        document.getElementById('scripture_reading').innerHTML += content;

        end_verse = document.getElementById(`sr_end_verse_${counter_sr}`).value
        content = ` Bible Version : <select id = 'sr_version_${counter_sr}')>`
        content += '<option value = "NKJV">NKJV</option>'
        content += '<option value = "KJV">KJV</option>'
        content += '<option value = "ESV">ESV</option>'
        content += '<option value = "ASV">ASV</option>'
        content += '<option value = "NIV">NIV</option>'
        content += '<option value = "NLT">NLT</option>'
        content += '<option value = "NIRV">NIRV</option>'
        content += '</select><br><br>';
        document.getElementById('scripture_reading').innerHTML += content;
        bible_version = document.getElementById(`sr_version_${counter_sr}`).value
    }

    function sr_bookChange(counter_sr){
        book = document.getElementById(`sr_book_${counter_sr}`).value
        chapter_len = bible_info[book][0];
        content = '';
        for(var i = 0 ; i < chapter_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sr_chapter_${counter_sr}`).html(content);

        chapter = document.getElementById(`sr_chapter_${counter_sr}`).value
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sr_start_verse_${counter_sr}`).html(content);
        $(`#sr_end_verse_${counter_sr}`).html(content);

    }

    function sr_chapterChange(counter_sr){
        book = document.getElementById(`sr_book_${counter_sr}`).value;
        chapter = document.getElementById(`sr_chapter_${counter_sr}`).value;
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sr_start_verse_${counter_sr}`).html(content);
        $(`#sr_end_verse_${counter_sr}`).html(content);
    }

    function sr_start_verseChange(counter_sr){
        book = document.getElementById(`sr_book_${counter_sr}`).value;
        chapter = document.getElementById(`sr_chapter_${counter_sr}`).value;
        start_verse = document.getElementById(`sr_start_verse_${counter_sr}`).value;
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = start_verse ; i <= verse_len ; i++){
            content += `<option value = ${i}>`
            content += i
            content += '</option>'
        }
        $(`#sr_end_verse_${counter_sr}`).html(content);
    }

    function add_sis_block(){
        counter_sis += 1;
        content = `Book : <select id = 'sis_book_${counter_sis}' onchange = sis_bookChange('${counter_sis}')>`
        for(key in bible_info){
            content += `<option value = ${key}>`
            content += key
            content += '</option>'
        }
        content += '</select>'
        document.getElementById('scripture_in_sermon').innerHTML += content;

        content = ` Chapter : <select id = 'sis_chapter_${counter_sis}' onchange = sis_chapterChange('${counter_sis}')>`
        book = document.getElementById(`sis_book_${counter_sis}`).value
        chapter_len = bible_info[book][0];
        for(var i = 0 ; i < chapter_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        content += '</select>'
        document.getElementById('scripture_in_sermon').innerHTML += content;

        content = ` Start Verse : <select id = 'sis_start_verse_${counter_sis}' onchange = sis_start_verseChange('${counter_sis}')>`
        chapter = document.getElementById(`sis_chapter_${counter_sis}`).value
        verse_len = bible_info[book][chapter];
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        content += '</select>';
        document.getElementById('scripture_in_sermon').innerHTML += content;

        content = ` End Verse : <select id = 'sis_end_verse_${counter_sis}')>`
        start_verse = document.getElementById(`sis_start_verse_${counter_sis}`).value
        verse_len = bible_info[book][chapter];
        for(var i = start_verse ; i <= verse_len ; i++){
            content += `<option value = ${i}>`
            content += i
            content += '</option>'
        }
        content += '</select>';
        document.getElementById('scripture_in_sermon').innerHTML += content;

        end_verse = document.getElementById(`sis_end_verse_${counter_sis}`).value
        content = ` Bible Version : <select id = 'sis_version_${counter_sis}')>`
        content += '<option value = "NKJV">NKJV</option>'
        content += '<option value = "KJV">KJV</option>'
        content += '<option value = "ESV">ESV</option>'
        content += '<option value = "ASV">ASV</option>'
        content += '<option value = "NIV">NIV</option>'
        content += '<option value = "NLT">NLT</option>'
        content += '<option value = "NIRV">NIRV</option>'
        content += '</select><br><br>';
        document.getElementById('scripture_in_sermon').innerHTML += content;
        bible_version = document.getElementById(`sis_version_${counter_sis}`).value
    }

    function sis_bookChange(counter_sis){
        book = document.getElementById(`sis_book_${counter_sis}`).value
        chapter_len = bible_info[book][0];
        content = '';
        for(var i = 0 ; i < chapter_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sis_chapter_${counter_sis}`).html(content);

        chapter = document.getElementById(`sis_chapter_${counter_sis}`).value
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sis_start_verse_${counter_sis}`).html(content);
        $(`#sis_end_verse_${counter_sis}`).html(content);

    }

    function sis_chapterChange(counter_sis){
        book = document.getElementById(`sis_book_${counter_sis}`).value;
        chapter = document.getElementById(`sis_chapter_${counter_sis}`).value;
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = 0 ; i < verse_len ; i++){
            content += `<option value = ${i + 1}>`
            content += i + 1
            content += '</option>'
        }
        $(`#sis_start_verse_${counter_sis}`).html(content);
        $(`#sis_end_verse_${counter_sis}`).html(content);
    }

    function sis_start_verseChange(counter_sis){
        book = document.getElementById(`sis_book_${counter_sis}`).value;
        chapter = document.getElementById(`sis_chapter_${counter_sis}`).value;
        start_verse = document.getElementById(`sis_start_verse_${counter_sis}`).value;
        verse_len = bible_info[book][chapter];
        content = '';
        for(var i = start_verse ; i <= verse_len ; i++){
            content += `<option value = ${i}>`
            content += i
            content += '</option>'
        }
        $(`#sis_end_verse_${counter_sis}`).html(content);
    }


</script>
