<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background-image: url('/static/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 1;
    }

</style>

<body>
<center><h1>Church PowerPoint</h1></center>

<div style="position:fixed; left:800px; top:250px">
    <form method="post" action="/init">
        <div class="form-group row">
            <span class="input-group-text">Account</span>
            <input type="text" class="form-control" id="account" name="account" required>
        </div>
        <div class="form-group row">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group row">
            <div class="col-2 offset-0">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
        <font color="red">{{message}}</font>
    </form>
</div>


<!--<div style="position:fixed; left:800px; top:250px">-->
<!--    <form method="post" action="/init">-->

<!--        <div class="form-group row">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Account</span>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" id="account" name="account">-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text">Password</span>-->
<!--            </div>-->
<!--            <input type="password" class="form-control" id="password" name="password">-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <button type="button" class="btn btn-secondary" onclick="confirm()" id="check">Submit</button>-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->

<script>
var input = document.getElementById("password");
input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("check").click();
    }
});


</script>

</body>
</html>