<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- pwa-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="hsl(60, 100%, 83%)">
<!--#009578-->
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="apple-touch-icon" href="static/images/icons/icon-192x192.png">

<head>
    <meta charset="UTF-8">
    <title>Calvary</title>
</head>
<style>
    body {
        background-image: url('/static/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 1;
    }

    .form-control {
        border: 0;
        background: transparent;
        border-bottom: 2px solid gray;
    }

    .form-control:focus {
        background:transparent;
        box-shadow: none;
    }

</style>

<body>
<script src="{{ url_for('static', filename='index.js') }}"></script>


<div class="container-fluid">
    <center><h1 class="title">Church PowerPoint</h1></center>
    <hr>
    <div class="row justify-content-center align-items-center" style="margin-top: 10%">
        <div class="col-lg-5">
            <form method="post" action="/init">
                <div class="form-group">
                    <label for="account">Account</label>
                    <input type="text" class="form-control" id="account" name="account" placeholder="user" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           name="password"
                           required>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <a href="/scriptures" class="btn btn-info">scriptures</a>
                    <font color="red">{{ message }}</font>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var input = document.getElementById("password");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("check").click();
        }
    });


</script>

</body>
</html>