<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background-image: url('/static/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 1;
    }
</style>
<script>
    function confirm(){
        account = document.getElementById('account').value;
        password = document.getElementById('password').value;
        var aj = $.ajax({
            url : '/init',
            data :
            {
                account : account,
                password : password
            },
            type : 'post',
            success : function (result) {
                console.log(result);
                if(result == 'error'){
                    swal("Error", 'Wrong Account or Password', "error")
                }
                else{
                    document.write(result);
                }
            }
        })
    }
</script>
<body>
<center><h1>Church PowerPoint</h1></center>
<div style = "position:fixed; left:800px; top:250px">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Account</span>
      </div>
      <input type="text" id="account">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input type="password" id="password">
    </div>
    <div class="input-group mb-3">
      <button type="button" class="btn btn-secondary" onclick="confirm()" id="check">Submit</button>
    </div>
</div>

<script>
var input = document.getElementById("password");
input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("check").click();
    }
});
</script>

</body>
</html>