<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $.ajax({
        url: '/scriptures_file',
        type: 'get',
        success: function (result) {
            content = `<h1 style="margin-top: 5%">${result.date}</h1><br>`
            result.scriptures.forEach(function (scripture, i) {
                content += `<div style="color: red; font-size: 25px">${scripture}</div>`
                content += `<div style="font-size: 20px">${result.verses[i]}</div>`
                if((i + 1) % 2 == 0){
                    content += '<br>'
                }
            });
            document.getElementById('scriptures').innerHTML = content
        }
    })
</script>
<style>
    body {
        background-size: cover;
        background: url('/static/scripture.png') no-repeat fixed center;
        opacity: 1;
    }

</style>


<body>

<div id="scriptures" style="margin-left: 10%; margin-right: 10%"></div>
</body>
</html>